/* CSS files add styling rules to your content */

body {
  background-color: black;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
}

nav{
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

img{
  width: 300px;
}

a{
  color: red;
  text-decoration: none;
}

h1,nav {
  text-align: center;
}

a:hover{
  text-decoration: underline;
}

.main{
  display: flex;
  margin-bottom: 20px;
}